[project]
	description = JavaScript SDK of QuickBlox cloud backend platform
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Wunderdog
[access "refs/for/refs/*"]
	read = group user/Wunderdog
	push = group user/Wunderdog
	label-Code-Review = -2..+2 group user/Wunderdog
	label-Verified = -1..+1 group user/Wunderdog
	rebase = group user/Wunderdog
	removeReviewer = group user/Wunderdog
	submit = group user/Wunderdog
[access "refs/heads/*"]
	read = group user/Wunderdog
	create = group user/Wunderdog
	push = +force group user/Wunderdog
	pushMerge = group user/Wunderdog
[access "refs/tags/*"]
	push = group user/Wunderdog
	push = +force group user/Wunderdog
